@font-face {
    font-family: Karamba;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}


*{
    font-family: Karamba;
    font-size: 15px;
}

header{
    
    display:flex;
    margin: 30px 40px 50px 60px;
    padding: 20px 50px 60px 40px;
}
img{
    display:block;


    width: 75px;
    height: 150px;
    margin: 0 auto;
}
 h1{
    
    text-align:centr;
    margin: -32px 78px;
 }
 h1{
    color:aqua
 }
 h2{
    color:blue
 }

